﻿@model InlogVM
@{
    ViewData["Title"] = "Login";
}


<h1>Log in</h1>
<br />

<form asp-action=Login method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for=Email type="email" required maxlength="50" />
    </div>
    <p></p>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for=Password type="Password" required maxlength="50" id="Password" />
    </div>
    <p></p>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" onclick="ToggleVisibility()" />
        <label class="form-check-label">Show password</label>
    </div>
    <p></p>
    <input type="submit" class="btn btn-primary" value="Log in" />
</form>