﻿@model InstructorVM
@{
    ViewData["Title"] = "CreateInstructor";
}

<h1>Create Instructor</h1>
<br />
Enter the information down below to create a new instructor
<br />
<br />
<form asp-action=CreateInstructor asp-method="post">
    @Html.Label("Name: ")
    <input asp-for=Name required maxlength="50" />
    <br />
    <br />
    @Html.Label("Specialty: ")
    <input asp-for=Specialty required maxlength="50" />
    <br />
    <br />
    <input type="submit" class="btn btn-primary" value="Create" />
</form>

