﻿@model List<InstructorVM>
@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>

<h1>All instructors</h1>

<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Instructors</h2>
    </div>
    <div class="col-3 text-right">
        <a asp-action=CreateInstructor>
            <input type="submit" class="btn btn-primary" value="Create New Instructor" />
        </a>
    </div>
</div>

<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered">
        <caption>Available classes</caption>
        <thead>
            <tr class="table-secondary">
                <th>Name</th>
                <th>ID</th>
                <th>Specialty</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (InstructorVM vm in Model)
            {
                <tr>
                    <td>@vm.Name</td>
                    <td>@vm.ID</td>
                    <td>@vm.Specialty</td>
                    <td>
                        <a asp-action=UpdateInstructor asp-route-id="@vm.ID">
                            <input type="submit" class="btn btn-success" value="Edit" />
                        </a>
                        <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#DeleteInstructor" data-url="@Url.Action("DeleteInstructor", "Instructor", new {id = vm.ID})">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>