﻿@model InstructorVM
@{
    ViewData["Title"] = "UpdateInstructor";
}

<h1>Update instructor</h1>
<br />
Enter the information down below to update the instructor
<br />
<br />
<form asp-action=UpdateInstructor asp-method="post">
    @Html.Label("Name: ")
    <input asp-for=Name required maxlength="50" />
    <br />
    <br />
    @Html.Label("Specialty: ")
    <input asp-for=Specialty required maxlength="50" />
    <br />
    <br />
    <input type="submit" class="btn btn-success" value="Edit" />
</form>

