﻿@model List<UserVM>
@{
    ViewData["Title"] = "AllUsers";
}

<div id="PlaceHolderHere"></div>

<h1>All users</h1>

<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Users</h2>
    </div>
    <div class="col-3 text-right">
        <a asp-action=CreateUser>
            <input type="submit" class="btn btn-primary" value="Create New User" />
        </a>
    </div>
</div>

<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered">
        <caption>Available classes</caption>
        <thead>
            <tr class="table-secondary">
                <th>Name</th>
                <th>Last Name</th>
                <th>ID</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (UserVM vm in Model)
            {
                <tr>
                    <td>@vm.FirstName</td>
                    <td>@vm.LastName</td>
                    <td>@vm.ID</td>
                    <td>@vm.AddressLine1 @vm.AddressLine2</td>
                    <td>@vm.DateOfBirth</td>
                    <td>@vm.Email </td>
                    <td>@vm.PhoneNumber </td>
                    <td>
                        <a asp-action=UpdateUser asp-route-id="@vm.ID">
                            <input type="submit" class="btn btn-success" value="Edit" />
                        </a>
                        <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#DeleteUser" data-url="@Url.Action("DeleteUser", "User", new {id = vm.ID})">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>