﻿@model Semester2GroepslessenASP.Models.UserVM

@{
    ViewData["Title"] = "Index";
}

<h1>My info</h1>
<br />
<br />
@Model.FirstName @Model.LastName
<br />
<br />
@Model.AddressLine1 @Model.AddressLine2
<br />
<br />
@Model.Email
<br />
<br />
@Model.PhoneNumber
@Model.IsAdmin