﻿@model List<WorkoutVM>
@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>

<h1>All workouts</h1>

<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Workouts</h2>
    </div>
    <div class="col-3 text-right">
        <a asp-action=CreateWorkout>
            <input type="submit" class="btn btn-primary" value="Create New Workout" />
        </a>
    </div>
</div>

<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered">
        <thead>
            <tr class="table-secondary">
                <th>Name</th>
                <th>ID</th>
                <th>URL</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (WorkoutVM vm in Model)
            {
                <tr>
                    <td>@vm.Name</td>
                    <td>@vm.ID</td>
                    <td>@vm.URL</td>
                    <td>@vm.Description</td>
                    <td>
                        <a asp-action=UpdateWorkout asp-route-id="@vm.ID">
                            <input type="submit" class="btn btn-success" value="Edit" />
                        </a>
                        <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#DeleteWorkout" data-url="@Url.Action("DeleteWorkout", "Workout", new {id = vm.ID})">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>