﻿@model GroupClassVM
@{
    ViewData["Title"] = "Cancel";
}

<div class="modal fade" id="SignUp" tabindex="-1" aria-labelledby="cancelLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelLabel" style="color:#0d6efd">Cancel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action=Cancel>
                    <p>Cancel your enrolment here</p>
                    <b>@Html.Label("Class:")</b> @Model.Name
                    <br />
                    <br />
                    <b>@Html.Label("Instructor:")</b> @Model.Instructor.Name
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Back</button>
                <button type="button" class="btn btn-danger" data-save="modal" data-url="@Url.Action("Cancel","GroupClass")">Cancel</button>
            </div>
        </div>
    </div>
</div>
