﻿@model List<UserVM>
@{
    ViewData["Title"] = "CheckAttendance";
}

<h1>Check Attendance</h1>

<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Attending Users</h2>
    </div>
</div>
<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered">
        <caption>Signed up users</caption>
        <thead>
            <tr class="table-secondary">
                <th>First Name</th>
                <th>Last Name</th>
                <th>User ID</th>
            </tr>
        </thead>
        @if (Model.Count > 0)
        {
            @foreach (UserVM um in Model)
            {
                <tr>
                    <td>@um.FirstName</td>
                    <td>@um.LastName</td>
                    <td>@um.ID</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No records</td>
                <td>No records</td>
                <td>No records</td>
            </tr>
        }
    </table>
</div>