﻿@model List<GroupClassVM>
@{
    ViewData["Title"] = "ClassAttendance";
}

<h1>Choose a class to check attendance</h1>

<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Classes</h2>
    </div>
</div>
<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered">
        <caption>Available classes</caption>
        <thead>
            <tr class="table-secondary">
                <th>Class</th>
                <th>Duration</th>
                <th>Date</th>
                <th>Instructor</th>
                <th>Attendance</th>
            </tr>
        </thead>
        @foreach (GroupClassVM vm in Model)
        {
            <tr>
                <td>@vm.Name</td>
                <td>@vm.Duration</td>
                <td>@vm.Date</td>
                <td>@vm.Instructor.Name</td>
                <td>
                    <a asp-action=CheckAttendance asp-route-id=@vm.ID>
                        <input type="submit" value="Check Attendance" class="btn btn-success" />
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

