﻿@model List<GroupClassVM>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>

<h1>All classes</h1>
<head>
</head>
<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Classes</h2>
    </div>
    <div class="col-3 text-right">
        @if (Context.Session.GetString("IsAdmin") == "True")
        {
            <a asp-action=CreateGC>
                <input type="submit" class="btn btn-primary" value="Create New Class" />
            </a>
            <br />
            <br />
        }
        <input id="myInput" type="text" placeholder="Search">
    </div>
</div>
<br />
<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered">
        <caption>Available classes</caption>
        <thead>
            <tr class="table-secondary">
                <th>Workout Class Name</th>
                <th>Duration</th>
                <th>Time</th>
                <th>Instructor</th>
                <th>Workout</th>
                @if (Context.Session.GetString("IsAdmin") == "True")
                {
                    <th>Admintool</th>
                }
                else
                {
                    <th>Sign up</th>
                }
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (GroupClassVM vm in Model)
            {
                <tr>
                    <td>@vm.Name</td>
                    <td>@vm.Duration</td>
                    <td>@vm.Date</td>
                    <td>@vm.Instructor.Name</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#WorkoutInfo" data-url="@Url.Action("WorkoutInfo", "GroupClass", new {id = vm.ID})">
                            @vm.Workout.Name
                        </button>
                    </td>
                    @if (Context.Session.GetString("IsAdmin") == "True")
                    {
                        <td>
                            <a asp-action=UpdateGC asp-route-id="@vm.ID">
                                <input type="submit" class="btn btn-success" value="Edit" />
                            </a>
                            <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#DeleteGC" data-url="@Url.Action("DeleteGC", "GroupClass", new {id = vm.ID})">
                                Delete
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            @if (@vm.IsSignedUp == false)
                            {
                                <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#SignUp" data-url="@Url.Action("SignUp", "GroupClass", new {id = vm.ID})">
                                    Sign Up
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#Cancel" data-url="@Url.Action("Cancel", "GroupClass", new {id = vm.ID})">
                                    Cancel
                                </button>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>