﻿@model GroupClassVM
@{
    ViewData["Title"] = "SignUp";
}

<div class="modal fade" id="SignUp" tabindex="-1" aria-labelledby="signUpLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signUpLabel" style="color:#0d6efd">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action=SignUp>
                    <p>Confirm your enrolment here</p>
                    <b>@Html.Label("Class:")</b> @Model.Name
                    <br />
                    <br />
                    <b>@Html.Label("Instructor:")</b> @Model.Instructor.Name
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-success" data-save="modal" data-url="@Url.Action("SignUp","GroupClass")">Sign Up</button>
            </div>
        </div>
    </div>
</div>
