﻿@model GroupClassInstructorsWorkoutsVM
@{
    ViewData["Title"] = "UpdateGC";
}

<h1>Update Group Class</h1>
<br />
Enter the information down below to update the group class
<br />
<br />
<form asp-action=UpdateGC asp-method="post">
    @Html.Label("Instructors: ")
    <select id="instructors" onclick="ChooseInstructor()">
        @foreach (InstructorVM instructor in Model.Instructors)
        {
            <option value=@instructor.ID>@instructor.Name</option>
        }
    </select>
    <br />
    <br />
    @Html.Label("Workouts: ")
    <select id="workouts" onclick="ChooseWorkout()">
        @foreach (WorkoutVM workout in Model.Workouts)
        {
            <option value=@workout.ID>@workout.Name</option>
        }
    </select>
    <br />
    <p><input type="hidden" id="textI" asp-for=@Model.GroupClass.Instructor.Name required maxlength="50" /></p>
    <p><input type="hidden" id="textW" asp-for=@Model.GroupClass.Workout.Name required maxlength="50" /></p>
    @Html.Label("Name: ")
    <input asp-for=@Model.GroupClass.Name required maxlength="50" />
    <br />
    <br />
    @Html.Label("Duration: ")
    <input asp-for=@Model.GroupClass.Duration type="number" required oninput="this.value=this.value.slice(0,10)" />
    <br />
    <br />
    @Html.Label("Date: ")
    <input asp-for=@Model.GroupClass.Date required type="datetime-local" min="1753-01-01 00:00" />
    <br />
    <br />
    <p><input type="hidden" asp-for=@Model.GroupClass.ID /></p>
    <p><input type="hidden" id="insID" asp-for=@Model.GroupClass.Instructor.ID required maxlength="50" /></p>
    <p><input type="hidden" id="workoutID" asp-for=@Model.GroupClass.Workout.ID required maxlength="50" /></p>
    <p><input type="hidden" asp-for=@Model.GroupClass.Instructor.Specialty /></p>
    <p><input asp-for=@Model.GroupClass.Workout.URL type="hidden" /></p>
    <p><input asp-for=@Model.GroupClass.Workout.Description type="hidden" /></p>
    <br />
    <br />
    <input type="submit" class="btn btn-success" value="Edit" />
</form>